@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
  text-decoration: none;
  color:black;
}
:root{
  font-size: 20px;
}

body{
  font-family: 'Source Sans 3', sans-serif;
}