.footer-container {
    
    background-color: rgba(0,0,0,0.4);
    padding: 4px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-container-p {
    margin: 5px 0;
    color: white;
    font-size: 14px;
  }

  .footer-wrapper {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
  }

  .footer {
    margin-top: auto;
  }