.modal{
    background: rgba(0,0,0,0.45);
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card{
    background:white;
    width: 500px;
    height: 500px;
}