.diet-page{
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: start;
    border: 1px solid rgba(64, 130, 192, 0.851);
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(56, 56, 56, 0.237);
    font-size: 1.6rem;
    text-align: left;
}
.diet-page__header{
    display: flex;
    align-items: center;
}
.diet-page__action{
    display:flex;
    justify-content: center;
    margin-top: 2rem;
}
.dieta-page__img{
    padding-right: 20px;
    padding-bottom: 20px;
}

.diet-page__title{
    
    color: rgb(5, 70, 145);
}

.diet-page__calories{
    margin: 0.5rem 1rem;
}

.diet-page__calories span{
    font-weight: bold;
    color: rgb(3, 160, 97);
}

.diet-page__description{
    margin: 0.5rem 1rem;
}

.diet-page__description span{
    font-weight: bold;
    color: rgb(3, 160, 97);
}

.diet-page__button{
    width: 150px;
    height: 50px;
    margin: 0 10px;
    background-color: rgba(63, 193, 160, 0.848);
    border-radius: 15px;
    border: none;
}
.diet-page__button:hover{

    background-color: rgba(63, 193, 160, 1);
    cursor:pointer;
}

.diet-page__button a{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
}