.home-page {
    padding:40px;
}

.home-section {
    margin: 40px 30px;
}
.home-section >h2 {
    margin-bottom:20px;
}
.home-section__h1 {
    color: rgb(5, 70, 145);
}

.home-section__p {
    margin-bottom: 20px;
    font-style: italic;
    width: 50%;
    font-size: 20px;
    text-align: center;
}
.home-section__button__container{
    display:flex;
    flex-direction: row;
    justify-content:center ;
    width: 50%;

}

.home-section__button {
    text-align: center;
    width: 180px;
    background-color: #5CCAAF;
    padding: 12px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

.home-section__button:hover{
    background-color: rgba(63, 193, 160, 1);
}