.list_container{
    display: flex;
    padding:0 80px;
    flex-direction: column;
    margin: auto;
}
.list_container ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-item-container{
    margin:20px;
}
.modal-item-container > h2{
    text-align: center;
}
.modal-item-container > h3{
    margin: 20px 0;
}
.modal-item-action{
    display:flex;
    justify-content: center;
}
.modal-item-action > button{
    min-width: 120px;
    text-align: center;
    margin-left: 10px;
    padding:  0.5rem 1rem;
    display: inline-block;
    background-color: rgba(63, 193, 160, 0.848);
    border-radius: 10px;
    border:none;
    font-size: 18px;
    color: white;
}
.modal-item-action > button:hover{
    background-color: rgba(63, 193, 160, 1);
    cursor:pointer;
}

.list__form{
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.list__filter{
    margin: 0.5rem;
    padding: 1rem;
    flex: 0.5;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list__create__button{
    border:none;
    font-size: 20px;
    min-width: 120px;
    text-align: center;
    margin-left: 10px;
    padding:  0.8rem 1rem;
    display: inline-block;
    background-color: rgba(63, 193, 160, 0.848);
    border-radius: 10px;
    color:white;
    text-decoration: none;
}
.list__create__button:hover{
    cursor: pointer;
    background-color: rgba(63, 193, 160, 1);
}