.list-item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 1.5rem;
    width: 70%;
    background-color: white;
    -webkit-box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.58);
-moz-box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.58);
box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.58);
}

.list-item__detail{
    justify-content: center;
    padding: 0.5rem;
    padding: 20px;
}
.list-item__action{
    display:flex;
    margin-top: 20px;
}
.list-item__name{
    color: rgb(5, 70, 145);
    font-size: 2rem;
    margin: auto;
}

.list-item__button{
    min-width: 120px;
    text-align: center;
    margin-left: 10px;
    padding:  0.5rem 1rem;
    display: inline-block;
    background-color: rgba(63, 193, 160, 0.848);
    border-radius: 10px;
    border:none;
    font-size: 18px;
    color: white;
}

.list-item__button a{
    height: 0px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
}

.list-item__button:hover{
    background-color: rgba(63, 193, 160, 1);
    cursor:pointer;
}
