
.new-exercise__container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.new-exercise__text-field{

    width: 300px;
}
.new-exercise__button{
    
    border:none;
    font-size: 20px;
    min-width: 120px;
    text-align: center;
    padding:  0.8rem 1rem;
    background-color: rgba(63, 193, 160, 0.848);
    border-radius: 10px;
    color:white;
    text-decoration: none;
}
.new-exercise__button:hover{
    cursor: pointer;
    background-color: rgba(63, 193, 160, 1);

}
h1{

    color: #054691;
    margin-bottom: 20px;
}